.container {
  position: relative;
  .player {
    position: absolute;
    font-size: 40px;
    transition: left .05s ease, top .05s ease;
  }
}
.map-container {
  //   border: 5px solid #aaa;
  align-items: center;
  justify-content: center;

  .row {
    justify-content: center;

    .tile {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border: 1px solid white;
      font-size: 2.3em;

      &.wall {
        background: #666;
      }

      &.path {
        background: #dfdfdf;
      }

      &.grass {
        background: lightgreen;
      }

      &.hold {
        background: black;
      }

      &.desert {
        background: goldenrod;
      }

      .move-type {
        // position: absolute;
        width: 20px;
        height: 20px;
        bottom: 5px;
        right: 5px;
        border-radius: 10px;
        border: 1px solid white;

        &.path{
          background-color: white;
        }
        &.death{
          background-color: black;
        }
        &.start{
          background-color: green;
        }
        &.finish{
          background-color: red;
        }
        &.obstacle{
          background-color: gray;
        }
      }
    }
  }
}