<div class="container">
<div class="map-container vbox">
  <div class="row hbox" *ngFor="let row of map.grid; index as j">
    <div *ngFor="let tile of row; index as i" 
         class="tile {{tile.appearType}}" 
         (click)="tileClicked({x:i, y:j})"
         (contextmenu)="tileRightClicked({x:i, y:j})">
      <span *ngIf="showMovementType" class="move-type {{tile.moveType}}">&nbsp;</span>
      <span *ngIf="debug">{{i}},{{j}}</span>
    </div>
  </div>
</div>
<div class="player" [ngStyle]="{top: playerAtY*52+'px', left: playerAtX*52+6+'px'}">{{ playerState }}</div>
</div>
