<div class="container">
  <h3>Best Times</h3>
  <table>
    <tr *ngFor="let time of times | async; let i = index">
      <th>{{i+1}}.</th>
      <td *ngIf="!!time">{{time / 1000}}s</td>
      <td *ngIf="!time">------</td>
    </tr>
  </table>
</div>
