.container {
    height: 100%;
    padding: 10px;
    background: #ddd;
    margin-right: 10px;
    h3 {
        font-size: 1em;
        margin-top: 8px;
    }

    th {
        font-weight: bold;
    }

    td, th {
        text-align: left;
    }
}