<div class="app-container vbox">
  <div class="titlebar hbox">
    <span>Roomba</span>
    <level-chooser *ngIf="!editorMode" [(level)]="map"></level-chooser>
    <input *ngIf="editorMode" [(ngModel)]="map.name" />
    <button *ngIf="!editorMode" (click)='newMap()'>+</button>
    <button *ngIf="!editorMode" (click)="editorMode = true">Edit</button>
    <button *ngIf="editorMode" (click)="editorMode = false">Save</button>
    <span class="time">{{time()}}s</span>
  </div>
  <div *ngIf="editorMode">
    <map-editor [map]="map"></map-editor>
  </div>
  <div *ngIf="!editorMode" class="hbox" style="align-items: flex-start; justify-content: center;">
    <best-times></best-times>
    <map [map]="map" [playerAtX]="playerAtX" [playerAtY]="playerAtY" [playerState]="playerState"></map>
  </div>
  <div *ngIf="debug" class="debug">Player: {{playerAtX}}, {{playerAtY}}</div>
  <div class="dialog vbox" *ngIf="dialogMessage !== null">
    <span>{{dialogMessage}}</span>
    <span>Time: {{(timeNow - timeStart) / 1000}}s!</span>
    <span class="small" *ngIf="dialogSubMessage !== null">{{dialogSubMessage}}</span>
  </div>
</div>


