.titlebar {
    background: #111;
    color: #aaa;
    padding: 5px;

    .time {
        width: 80px;
        text-align: right;
    }
}

.debug {
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    color: black;
    padding: 10px;
}

.dialog {
    position: absolute;
    left: 35%;
    right: 35%;
    z-index: 1000;
    text-align: center;
    border: 3px solid black;
    background: black;
    color: white;
    top: 35%;
    height: 30%;
    justify-content: center;
    font-size: 2em;

    .small {
        font-size: .35em;
    }
}