/* You can add global styles to this file, and also import other style files */
body {
  background: #444;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.vbox {
    /* current syntax */
    display: flex;
    flex-direction: column;
}

/* items flex/expand vertically */
.hbox {
  /* current syntax */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
